﻿@using System.Web.Optimization
@model Guid
@{
    ViewBag.Title = "Change Password";
}

@section pageViewModel
{
    'viewModel/User/changePassword'
}

@section header{
    @{ Html.RenderPartial("~/Views/Shared/Headers/CancelDone.cshtml"); }
}

@section subHeader{
    <div data-bind="template: { name: 'subHeader-template' }"></div>
}

@section scripts_header
{
    @Scripts.Render("~/bundles/jqueryval")
}

<input type="hidden" id="id" value="@Model"/>
@Html.AntiForgeryToken()

<div class="container">
    <div data-bind="template: { name: 'form-template', data: passwordChange}"></div>
    <div data-bind="template: { name: 'asyncTracker-template', data: asyncTracker }"></div>
</div>

@* --- Knockout templates --- *@

<script type="text/html" id="subHeader-template">
    <div class="subHeader">
        <div class="container summary">
            <h1>Change Password</h1>                
        </div>
    </div>
</script>

@*Form*@
<script type="text/html" id="form-template">
    <form class="form-horizontal" id ="changePasswordForm" autocomplete="off">
        <div class="form-group">
            <label class="control-label col-sm-4 col-md-3 col-lg-2" for="Password">Current password</label>
            <div class="col-sm-5 col-md-4">
                <input id="Password" name="Password" type="password" class="form-control valid" data-bind="value: Password" data-val="true" data-val-required="Current password is required" tabindex="1"/>
                <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>            
                <span class="field-validation-error text-danger" data-bind="if: PasswordRejected">The current password is incorrect</span>            
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4 col-md-3 col-lg-2" for="Password">New password</label>
            <div class="col-sm-5 col-md-4">
                <input id="NewPassword" name="NewPassword" type="password" class="form-control valid" data-bind="value: NewPassword" data-val="true" data-val-required="New password is required" data-val-length="Your new password must be at least 9 characters, and at most 32 characters, in length" data-val-length-min="9" data-val-length-max="32" tabindex="2"/>
                <span class="text-danger field-validation-error" data-valmsg-for="NewPassword" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4 col-md-3 col-lg-2" for="NewPasswordConfirmation">New password (again)</label>
            <div class="col-sm-5 col-md-4">
                <input id="NewPasswordConfirmation" name="NewPasswordConfirmation" type="password" class="form-control valid" data-bind="value: NewPasswordConfirmation" data-val="true" data-val-required="New password confirmation is required"  data-val-equalto="New password confirmation must match the new password" data-val-equalto-other="*.NewPassword" tabindex="3"/>
                <span class="text-danger field-validation-error" data-valmsg-for="NewPasswordConfirmation" data-valmsg-replace="true"></span>
            </div>
        </div>
    </form>
</script>



@{ Html.RenderPartial("~/Views/Shared/KoTemplates/AsyncTracker.cshtml"); }
