﻿@using System.Web.Optimization
@model Guid
@{
    ViewBag.Title = "Change Email";
}

@section pageViewModel
{
    'viewModel/User/ChangeEmail'
}

@section header{
    @{ Html.RenderPartial("~/Views/Shared/Headers/CancelDone.cshtml"); }
}

@section subHeader{
    <div data-bind="template: { if: (user() && !loadingData()), name: 'subHeader-template' }"></div>
}

<input type="hidden" id="id" value="@Model"/>
@Html.AntiForgeryToken()

<div class="container">
    @Html.Spinner("visible: loadingData")
    <div data-bind="if: user() && !loadingData()"><div data-bind="template: { name: 'form-template'}"></div></div>
    <div data-bind="if: !user() && !loadingData()"><div data-bind="template: { name: 'notfound-template' }"></div></div>
    <div data-bind="template: { name: 'asyncTracker-template', data: asyncTracker }"></div>
</div>

@* --- Knockout templates --- *@

<script type="text/html" id="subHeader-template">
    <div class="subHeader">
        <div class="container summary">
            <h1>Change Email</h1>                
        </div>
    </div>
</script>

@*Form*@
<script type="text/html" id="form-template">
    <form class="form-horizontal" id ="userForm" autocomplete="off" novalidate>
        <section data-bind="template: { name: 'user-template', data: user }"></section>
    </form>
</script>

@* User *@
<script type="text/html" id="user-template">
    <div class="form-group">
        <label class="control-label col-sm-2" for="Email">Email</label>
        <div class="col-sm-10">
            <input id="Email" name="Email" type="email" class="form-control" data-bind="value: Email" />
            <div data-bind="if: hasEmailErrors">
                <span class="text-danger field-validation-error" data-bind="text: EmailErrors"></span>
            </div>
        </div>
    </div>
</script>


@{ Html.RenderPartial("~/Views/Shared/KoTemplates/AsyncTracker.cshtml"); }

@* no data*@
<script type="text/html" id="notfound-template">
    <div class="row">
        <div class="col-lg-12">
            <div id="summary"><h2>Sorry, we could not find this user.</h2></div>
        </div>
    </div>
</script>
