﻿@using System.Web.Optimization
@model Guid
@{
    ViewBag.Title = "Edit User";
}

@section pageViewModel
{
    'viewModel/User/CreateEdit'
}

@section header{
    @{ Html.RenderPartial("~/Views/Shared/Headers/CancelDone.cshtml"); }
}

@section subHeader{
    <div data-bind="template: { if: (user() && !loadingData()), name: 'subHeader-template' }"></div>
}

<input type="hidden" id="id" value="@Model"/>
@Html.AntiForgeryToken()

<div class="container">
    @Html.Spinner("visible: loadingData")
    <div data-bind="if: user() && !loadingData()"><div data-bind="template: { name: 'form-template'}"></div></div>
    <div data-bind="if: !user() && !loadingData()"><div data-bind="template: { name: 'notfound-template' }"></div></div>
    <div data-bind="template: { name: 'asyncTracker-template', data: asyncTracker }"></div>
</div>

@* --- Knockout templates --- *@

<script type="text/html" id="subHeader-template">
    <div class="subHeader">
        <div class="container summary">
            <h1>Edit user</h1>                
        </div>
    </div>
</script>

@*Form*@
<script type="text/html" id="form-template">
    <form class="form-horizontal" id ="userForm" autocomplete="off">
        <section data-bind="template: { name: 'user-template', data: user }"></section>
    </form>
</script>

@* User *@
<script type="text/html" id="user-template">
    <h3>Public profile <small>This is how other users see you when they use the site.</small></h3>
    <div class="form-group">
        <label class="control-label col-sm-2" for="DisplayName">Display Name</label>
        <div class="col-sm-10">
            <input id="DisplayName" name="DisplayName" type="text" class="form-control" data-bind="value: PublicProfile().DisplayName" />
            <div data-bind="if: PublicProfile().hasDisplayNameErrors">
                <span class="text-danger field-validation-error" data-bind="text: PublicProfile().DisplayNameErrors"></span>
            </div>
        </div>
    </div>
<hr/>
    <h3>Private profile <small>This is how we know you.</small></h3>
    <div class="form-group">
        <label class="control-label col-sm-2" for="FirstName">First name</label>
        <div class="col-sm-10">
            <input id="FirstName" name="FirstName" type="text" class="form-control" data-bind="value: FirstName" />
            <div data-bind="if: hasFirstNameErrors">
                <span class="text-danger field-validation-error" data-bind="text: FirstNameErrors"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="LastName">Last name</label>
        <div class="col-sm-10">
            <input id="LastName" name="LastName" type="text" class="form-control" data-bind="value: LastName" />
            <div data-bind="if: hasLastNameErrors">
                <span class="text-danger field-validation-error" data-bind="text: LastNameErrors"></span>
            </div>
        </div>
    </div>
</script>


@{ Html.RenderPartial("~/Views/Shared/KoTemplates/AsyncTracker.cshtml"); }

@* no data*@
<script type="text/html" id="notfound-template">
    <div class="row">
        <div class="col-lg-12">
            <div id="summary"><h2>Sorry, we could not find this user.</h2></div>
        </div>
    </div>
</script>
