﻿@{
    ViewBag.Title = "My Home";
}

@section header{
    @{ Html.RenderPartial("~/Views/Shared/Headers/User.cshtml"); }
}

<div class="container">
    <div class="row">
        <div id="summary" class="col-lg-12">
            <h1>Home</h1>            
        </div>
    </div>
</div>
