﻿@model Guid
@{
    ViewBag.Title = "User Summary";
}

@section pageViewModel
{
    'viewModel/User/summary'
}

@section header{
    @{ Html.RenderPartial("~/Views/Shared/Headers/User.cshtml"); }
}

@section subHeader{
    <div data-bind="template: { if: user, name: 'mainNav-template', data: user }"></div>
    <div class="subHeader">
        <div class="container">
            <h1>User Summary</h1>
        </div>
    </div>
}

<input type="hidden" id="id" value="@Model"/>

<div class="container">
    @Html.Spinner("visible: initialising")
    <div data-bind="if: user()"><div data-bind="template: { name: 'user-template', data: user}"></div></div>
    <div data-bind="if: !user()"><div data-bind="template: { name: 'notfound-template' }"></div></div>
    <div data-bind="template: { name: 'asyncTracker-template', data: asyncTracker }"></div>
</div>

@* --- Knockout templates --- *@

<script type="text/html" id="mainNav-template">
    <div class="mainNav">
        <div class="container">
            <a href="/User/Edit/@Model" class="btn btn-primary">Change details</a>
            <a href="/User/ChangeEmail/@Model" class="btn btn-primary">Change email</a>
            <a href="/User/ChangePassword" class="btn btn-primary">Change password</a>
        </div>
    </div>    
</script>

@* User *@
<script type="text/html" id="user-template">
    <h2>
        Details
        <a href="/User/Edit/@Model" class="btn btn-default btn-xs">Change details</a>
    </h2>
    <p>My name is <strong class="f-name" data-bind="text:Name"></strong></p>
    <p>Other users will see my name as <strong class="f-displayname" data-bind="text: PublicProfile().DisplayName"></strong></p>
    <hr/>
    <h2>
        Contact and Credentials
        <a href="/User/ChangeEmail/@Model" class="btn btn-default btn-xs">Change email</a>
        <a href="/User/ChangePassword/@Model" class="btn btn-default btn-xs">Change password</a>
    </h2>
    <p>My email address is <strong class="f-email" data-bind="text: Email"></strong></p>
    <p>My password is <strong class="f-password">***********</strong></p>
</script>

@* no data*@
<script type="text/html" id="notfound-template">
    <div class="row">
        <div class="col-lg-12">
            <div id="summary"><h2>Sorry, we could not find this user.</h2></div>
        </div>
    </div>
</script>

@{ Html.RenderPartial("~/Views/Shared/KoTemplates/AsyncTracker.cshtml"); }