﻿<script type="text/html" id="asyncTracker-template">
    <!-- ko if:isVisible -->    
    <table id="asyncTracker">
        <thead>
            <tr><th>Timestamp</th> <th>Key</th> <th>Value</th></tr>
        </thead>
        <tbody data-bind="foreach: items().sort(function (l, r) { return l.timestamp() > r.timestamp() ? 1 : -1; })">
            <tr><td data-bind="text: timestamp"></td> <td data-bind="text: key"></td> <td data-bind="text: value"></td></tr>
        </tbody>
    </table>
    <!-- /ko -->
</script>

