﻿<script type="text/html" id="error-template">
    <div class="alert alert-danger">
        <h2><span class="glyphicon glyphicon-exclamation-sign"></span> Oh dear. Something went wrong.</h2>
    </div>
    <p>With any luck this is just a temporary problem. If refreshing the page a few times doesn't fix things then I'm afraid you're on your own...</p>
</script>

