﻿@model BinaryMash.Domain.AnswerContentQuestionerSupplied

<div class="row">
    <div class="col-xs-12">
        <span class="checkbox">
            <input type="checkbox" disabled="disabled"/> @{ Html.RenderPartial("~/Views/Shared/Components/AnswerContent.cshtml", @Model.Text, new ViewDataDictionary()); }
        </span>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @{ Html.RenderPartial("~/Views/Shared/Components/Notes.cshtml", @Model.Notes, new ViewDataDictionary()); }
    </div>
</div>    
