﻿@model BinaryMash.Domain.AnswerContentUserSupplied
<div class="row">
    <div class="col-xs-12">
        <p>
            <textarea disabled="disabled" placeholder="The candidate's answer can be up to @Model.MaxLength characters" rows="5" class="atext col-xs-12"></textarea>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 anotes">
            @{ Html.RenderPartial("~/Views/Shared/Components/Notes.cshtml", @Model.Notes, new ViewDataDictionary()); }
    </div>
</div>