﻿@using BinaryMash.Web.Mvc4.Helpers
@model BinaryMash.Domain.QuestionVersion

<div class="row questionSummary">
    <div class="col-sm-9 col-md-10">
        <h5>@Html.ActionLink(@Model.Title, "Preview", "Question", new {id = @Model.QuestionId}, null)</h5>
        @Html.MarkdownSummary(Model.Sections.OrderBy(s => s.Index).First().Text, 200)
    </div>
    <div class="col-sm-3 col-md-2">
        <div><small class="text-muted">Created @Model.Created by @Model.User.DisplayName</small></div>
    </div>
</div>
<hr/>
