﻿@model BinaryMash.Domain.QuestionVersion
<div class="qaudit">
    <h6><span class="glyphicon glyphicon-list"></span> <span>History</span></h6>
    <small>Version <span class="f-version">@Model.Version</span> (<span class="f-state">@Model.State</span>), created on @Model.Created.ToShortDateString() at @Model.Created.ToShortTimeString() by @Model.User.DisplayName</small>
</div>