﻿@model BinaryMash.Domain.QuestionVersion

<div class="row">
    <div class="col-xs-12">
        <h2 class="qtitle">@Model.Title</h2>  
        <hr/>      
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-10 qandasections">
        @foreach (var section in @Model.Sections.OrderBy(s => s.Index))
        {
            Html.RenderPartial("~/Views/Shared/Components/QuestionAndAnswerSection.cshtml", section);
        }
    </div>
    <div class="col-xs-12 col-sm-2">
        <hr class="visible-xs"/>        
        @{ Html.RenderPartial("~/Views/Shared/Components/QuestionTags.cshtml", @Model.Question.Tags, new ViewDataDictionary());}
        <hr />
        @{ Html.RenderPartial("~/Views/Shared/Components/Question.cshtml", @Model); }
    </div>
</div>
