﻿@model ICollection<BinaryMash.Domain.QuestionTag>
<div class="qtags">
    <h6><span class="glyphicon glyphicon-tags"></span> <span>Tags</span></h6>
    @foreach (var questionTag in @Model)
    {
        <a href="~/Question/Tagged/@Url.Encode(questionTag.Tag.Name)" class="label label-info">@questionTag.Tag.Name</a>
    }
</div>