﻿@using BinaryMash.Domain
@using BinaryMash.Web.Mvc4.Helpers
@model BinaryMash.Domain.QuestionAndAnswerSection

<div class="qandasection">
    <div class="row">
        <div class="col-lg-12 qtext">
            @Html.Markdown(@Model.Text)
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 qnotes">
            @{ Html.RenderPartial("~/Views/Shared/Components/Notes.cshtml", @Model.Notes, new ViewDataDictionary()); }
        </div>
    </div>
    <div class="qanswer">
        @foreach (var answer in @Model.AnswerContents.OrderBy(a => a.Index))
        {
            <hr/>      
            switch (@Model.Type)
            {
                case AnswerContainerType.UserSupplied:
                    Html.RenderPartial("~/Views/Shared/Components/AnswerContainerSingle.cshtml", (AnswerContentUserSupplied)answer);
                    break;
                case AnswerContainerType.Radio:
                    Html.RenderPartial("~/Views/Shared/Components/AnswerContainerRadio.cshtml", answer);
                    break;
                case AnswerContainerType.Checkbox:
                    Html.RenderPartial("~/Views/Shared/Components/AnswerContainerCheckbox.cshtml", answer);
                    break;
            }
        }        
    </div>
</div>