﻿@model BinaryMash.Domain.Session

<div class="row sessionSummary">
    <div class="col-sm-9 col-md-10">
        <h5>@Html.ActionLink(@Model.Person.Name+" - "+ @Model.TestVersion.Name, "Summary", "Session", new {id = @Model.Id}, null)</h5>       
        <p class="state">@Model.State</p>
    </div>
    <div class="col-sm-3 col-md-2">
        <div><small class="text-muted">Updated <span class="updated">@Model.Updated</span> by <span class="updatedBy">@Model.User.DisplayName</span></small></div>
    </div>
</div>
<hr/>
