﻿@model BinaryMash.Domain.Tag

<div>
    <a class="label label-info" href="~/Question/Tagged/@Url.Encode(Model.Name)">@Model.Name</a>
@*    @Html.ActionLink(@Model.Name, "Details", "Tag", new {id = @Model.Name}, null)  *@
</div>
<div>
    <small>Summary of tag here</small>
</div>
