﻿@model BinaryMash.Domain.TestVersion


<div class="row testVersionSummary">
    <div class="col-sm-9 col-md-10">
        <h5>@Html.ActionLink(@Model.Name, "Summary", "Test", new {id = @Model.TestId}, null)</h5>       
    </div>
    <div class="col-sm-3 col-md-2">
        <div><small class="text-muted">Updated <span class="updated">@Model.Updated</span> by <span class="updatedBy">@Model.User.DisplayName</span></small></div>
    </div>
</div>
<hr/>
