/*  
Sticky Footer Solution
by Steve Hatcher 
http://stever.ca
http://www.cssstickyfooter.com
*/

* {margin:0;padding:0;} 

/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 70px;}  /* must be same height as the footer */

footer {position: relative;
	margin-top: -70px; /* negative value of footer height */
	height: 70px;
	clear:both;} 

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

/* IMPORTANT

You also need to include this conditional style in the <head> of your HTML file to feed this style to IE 6 and lower and 8 and higher.

<!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
	</style>
<![endif]-->

*/

/* end of sticky footer */

body,
input,
button,
select,
textarea,
h1,h2,h3,h4,h5,h6
.navbar-search .search-query {
    font-family: 'Ubuntu', sans-serif; 
}

body {
    padding-top: 50px; /*fixed navbars*/
    color: #777;
    text-align: justify;
}

footer>div {
    padding-top: 20px;    
}

.appVersion {
    padding-top: 15px;    
    text-align: center;
}

.field-validation-error {
    font-size: 0.75em;
}

.no-margin {
    margin: 0px;
}

.blob {    
    padding: 20px 20px 0 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px;
    border-style: dotted;
    border-color: white
}

.blob.active {
    background-color: #fffff9;
    border-color: #aaa;
    border-style: dashed;    
}

.inline-small {
    height: 30px;
    vertical-align: middle;
}
.nowrap
{
    white-space: nowrap;
}

.link {
    cursor: pointer;     
}

.s2 {
    padding-top: 2px;
    width: 100%;
}

.flush-left {
    padding-left: 0px;
}

.flush-right {
    padding-right: 0px;
}

.preview 
{ 
	background-color: #fafafa;
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px;
    border-color: #aaa;
    border-style: dashed;    
}

/*override bootstrap*/
code {
    color: #777;
}

.form-group .panel {
    margin-top: 15px;
}

/*PageDown*/

/*body 
{ 
	background-color: White;
    font-family: sans-serif;
}*/

blockquote {
	border-left: 2px dotted #888;
	padding-left: 5px;
	background: #d0f0ff;
}

.wmd-panel
{
	/*margin-left: 25%;
	margin-right: 25%;
	width: 50%;
	min-width: 500px;*/
}

.wmd-button-bar 
{
	width: 100%;
	background-color: Silver; 
}

.wmd-input 
{ 
	/*height: 300px;*/
	width: 100%;
	/*background-color: Gainsboro;*/
	border: 1px solid DarkGray;
}

.wmd-button-row 
{
	position: relative; 
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 10px;
	padding: 0px;  
	height: 20px;
}

.wmd-spacer
{
	width: 1px; 
	height: 20px; 
	margin-left: 14px;
	
	position: absolute;
	background-color: Silver;
	display: inline-block; 
	list-style: none;
}

.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.wmd-button > span {
    background-image: url(PageDown/wmd-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-spacer1
{
    left: 50px;
}
.wmd-spacer2
{
    left: 175px;
}
.wmd-spacer3
{
    left: 300px;
}

.wmd-prompt-background
{
	background-color: Black;
}

.wmd-prompt-dialog
{
	border: 1px solid #999999;
	background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
	font-size: 0.8em;
	font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"] {
	border: 1px solid #999999;
	color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
	border: 1px solid #888888;
	font-family: trebuchet MS, helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}


@viewport{
    width: device-width;
}

@-ms-viewport { 
    width: device-width;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    top: 30%;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color:#bbb;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;    
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 40px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remve the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
    margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

}

.subHeader {
    padding-bottom: 10px;
    border-bottom: 1px solid #e9e9e9;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#f9f9f9),to(#f7f7f7));
    background-image: -webkit-linear-gradient(top,#f9f9f9,0%,#f7f7f7,100%);
    background-image: -moz-linear-gradient(top,#f9f9f9 0,#f7f7f7 100%);
    background-image: linear-gradient(to bottom,#f9f9f9 0,#f7f7f7 100%);
    background-repeat: repeat-x;
}

.mainNav
{
    padding: 10px 0px;
    border-bottom: 1px solid #e5e5e5;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#f5f5f5),to(#f3f3f3));
    background-image: -webkit-linear-gradient(top,#f5f5f5,0%,#f3f3f3,100%);
    background-image: -moz-linear-gradient(top,#f5f5f5 0,#f3f3f3 100%);
    background-image: linear-gradient(to bottom,#f5f5f5 0,#f3f3f3 100%);
    background-repeat: repeat-x;
}

.maincontent {
    padding-top: 20px;
}

#mainCarousel {
    position: relative;
    top: -20px;
}

