﻿@model BinaryMash.Domain.Credentials

@if (Model != null && Model.InvalidCredentials)
{
    <div class="field-validation-error text-danger alert alert-danger"><span class="glyphicon glyphicon-exclamation-sign"></span> The email address or password was incorrect. Please check your details and try again.</div>
}
@Html.ValidationMessageFor(m => m.InvalidCredentials, null, new {@class="text-danger"})
<div class="form-group">
    @Html.LabelFor(m => m.Email, new{@class="col-sm-3 control-label"})
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.Email, new{@class="form-control", @type="email", tabIndex="1", autofocus="autofocus"})
        @Html.ValidationMessageFor(m => m.Email, null, new{@class="text-danger"})
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Password, new{@class="col-sm-3 control-label"})
    <div class="col-sm-9">
        @Html.PasswordFor(m => m.Password, new{@class="form-control", tabIndex="2"})
        @Html.ValidationMessageFor(m => m.Password, null, new{@class="text-danger"})
    </div>
</div>
          
