﻿@model BinaryMash.Web.Mvc4.Components.Pager

@if (Model.NumberOfPages > 1)
{
    <ul class="pagination">
        <li id="pf" @if (@Model.CurrentPageNumber == 1)
            {
                @:class="disabled"
            }><a href="@Model.BaseUrl?page=1">First</a></li>
        <li id="pp" @if (@Model.CurrentPageNumber == 1)
            {
                @:class="disabled"
            }><a href="@Model.BaseUrl?page=@Model.PreviousPage">Prev</a></li>        
        @foreach (var page in @Model.Pages)
        {
            <li id="p@(page)" @if (@Model.CurrentPageNumber == page)
                {
                    @:class="active" 
                }><a href="@Model.BaseUrl?page=@page">@page</a></li>
        }
        <li id="pn" @if (@Model.CurrentPageNumber == @Model.NumberOfPages)
            {
                @:class="disabled"
            }><a href="@Model.BaseUrl?page=@Model.NextPage">Next</a></li>
        
        <li id="pl" @if (@Model.CurrentPageNumber == @Model.NumberOfPages)
            {
                @:class="disabled"
            }><a href="@Model.BaseUrl?page=@Model.NumberOfPages">Last</a></li>
    </ul>
}