﻿@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">       
        <title>@ViewBag.Title</title>  

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/common")

        <!--[if !IE 7]>
            <style type="text/css">
                #wrap {display:table;height:100%}
            </style>
        <![endif]-->      
       
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,400italic,500italic' rel='stylesheet' type='text/css'>

        @Styles.Render("~/Content/core-css")
        @RenderSection("scripts_header", false)
        @if (IsSectionDefined("pageViewModel"))
        {
            <script src="~/scripts/require.js"></script>
            <script>
                require.config({
                    urlArgs: "bust=@Html.AssemblyInformationalVersion()",  
                    paths: {
                        components: 'App/Components',
                        config: 'App/Config',
                        initializers: 'App/Initializers',
                        viewModel: 'App/ViewModel',
                        repos: 'App/Repos',
                        services: 'App/Services',
                        validation: 'App/Validation'
                    },
                    baseUrl: "/Scripts"
                });

                (function () {
                    var root = this;
                    define3rdPartyModules();
                
                    function define3rdPartyModules() {
                        define('jquery', [], function () { return root.jQuery; });
                        define('ko', [], function () { return root.ko; });
                        define('breeze', [], function() { return root.breeze; });
                        define('toastr', [], function () { return root.toastr; });
                        define('moment', [], function () { return root.moment; });
                        define('q', [], function () { return root.Q; });
                    }
                })();

                require([@RenderSection("pageViewModel")], function (vm) {
                    $(function () {
                        vm.init(@if (IsSectionDefined("pageViewModelParam")){@RenderSection("pageViewModelParam", false)});
                    });
                });
            
            </script>
        }
    </head>
    <body>      
        <div id="wrap">
            <div id="main">
                <noscript>
                    <div class="alert alert-danger no-margin text-center">You MUST have javascript enabled to take the test.</div>
                </noscript>
                <div class="alert alert-danger no-margin text-center"><span class="glyphicon glyphicon-exclamation-sign"></span> Integration environment - all data will be reset when you least expect it!</div>
                @RenderSection("header")
                <div class="maincontent">@RenderBody()</div>
            </div>
        </div>
        @Html.Partial("~/Views/Shared/Footers/Standard.cshtml")
        @RenderSection("scripts_footer", false)
    </body>
</html>