﻿@model string
@{
    Layout = "~/Views/Shared/Layouts/User.cshtml";
    ViewBag.Title = "Test"; 
}

@section pageViewModel
{
    'viewModel/session/answers'
}

@section header
{
    @{ Html.RenderPartial("~/Views/Shared/Headers/Answers.cshtml"); }
}

@section subHeader{
    <div class="subHeader">
        <div class="container">
            <h1>Test Session Answers</h1>            
        </div>
    </div>
}

@section scripts_header
{
    <link rel="stylesheet" href="~/Content/Prettify/prettify.css" />
}

@section scripts_footer
{
    @*PageDown*@
    <script type="text/javascript" src="~/Scripts/Pagedown/Markdown.Converter.js"></script>
    <script type="text/javascript" src="~/Scripts/Pagedown/Markdown.Sanitizer.js"></script>
    <script type="text/javascript" src="~/Scripts/Pagedown/Markdown.Editor.js"></script>
    <script src="~/Scripts/Prettify/prettify.js"></script>
}


}

<input type="hidden" id="sessionId" value="@Model"/>
<div class="container">
    @Html.Spinner("visible: !error() && loadingData()")
    <div data-bind="if: !error() && !loadingData()"><div data-bind="template: { name: 'test-template' }"></div></div>
    <div data-bind="if: error()"><div data-bind="template: { name: 'error-template' }"></div></div>
    <div data-bind="template: { name: 'asyncTracker-template', data: asyncTracker }"></div>
</div>

@{ Html.RenderPartial("~/Views/Shared/KoTemplates/AsyncTracker.cshtml"); }

@{ Html.RenderPartial("~/Views/Shared/KoTemplates/Error.cshtml"); }

@*Test*@
<script type="text/html" id="test-template">
    <div data-bind="template: { name: 'question-template' }"></div>
</script>

@*  *@

@*Question*@
<script type="text/html" id="question-template">
    @Html.Spinner("visible: loadingQuestion()")
    <div data-bind="if:question() && !loadingQuestion()">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="qtitle">Question <span data-bind="text:$root.questionIndexDisplay"></span>: <span data-bind="text: question().Title"></span></h2>  
                <hr/>      
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 qandasections">
                <section class="qandasection" data-bind="template: { name: 'section-template', foreach: question().Sections, afterRender: makePretty}"></section>
            </div>
        </div>
    </div>
</script>

@*Section*@
<script type="text/html" id="section-template">
    <div class="row">
        <div class="col-xs-12" data-bind="html:markdownText"></div>
    </div>
    <div class="qanswer">
        <div data-bind="template: { name: activeSpecialismTemplate}"></div>
    </div>
</script>

@*UserSuppliedContainer*@
<script type="text/html" id="answerContainerSpecialismUserSupplied-template">
    <div data-bind="template: { name: 'userSupplied-template', foreach: AnswerContents }"></div>
</script>


@*UserSupplied*@
<script type="text/html" id="userSupplied-template">
    <hr/>      
    <div class="row">
        <div class="col-xs-12" data-bind="template: { name: 'candidateUserSupplied-template', data: candidateSupplied }"></div>
    </div>
</script>

@*CandidateUserSupplied*@
<script type="text/html" id="candidateUserSupplied-template">
    <!-- ko if: $data -->
    <textarea readonly="readonly" rows="5" class="atext col-xs-12" data-bind="value: Text"></textarea>
    <!-- /ko -->
    <!-- ko if: !($data) -->
    <textarea readonly="readonly" rows="5" class="atext col-xs-12"></textarea>
    <!-- /ko -->
</script>

@*CheckboxContainer*@
<script type="text/html" id="answerContainerSpecialismCheckbox-template">
    <div data-bind="template: { name: 'checkbox-template', foreach: AnswerContents }"></div>
</script>


@*Checkbox*@
<script type="text/html" id="checkbox-template">
    <hr/>      
    <div class="row">
        <div class="col-xs-12">
            <span class="checkbox">
                <!-- ko if: $parent.candidateSupplied() -->
                <input type="checkbox" disabled="disabled" data-bind="value: Id, checked: $parent.candidateSupplied().checkboxAnswerSelected(Id())"/> <span data-bind="html: markdownText"></span>
                <!-- /ko -->
                <!-- ko if: !($parent.candidateSupplied()) -->
                <input type="checkbox" disabled="disabled" data-bind="value: Id"/> <span data-bind="html: markdownText"></span>
                <!-- /ko -->
            </span>
        </div>
    </div>
</script>

@*RadioContainer*@
<script type="text/html" id="answerContainerSpecialismRadio-template">
    <div data-bind="template: { name: 'radio-template', foreach: AnswerContents }"></div>
</script>

@*Radio*@
<script type="text/html" id="radio-template">
    <hr/>      
    <div class="row">
        <div class="col-xs-12">
            <span class="radio">
                <!-- ko if: $parent.candidateSupplied() -->
                <input type="radio" disabled="disabled" data-bind="attr: { name: $parent.Id }, value: Id, checked: $parent.candidateSupplied().radioAnswerSelected()"/> <span data-bind="html: markdownText"></span>
                <!-- /ko -->
                <!-- ko if: !($parent.candidateSupplied()) -->
                 <input type="radio" disabled="disabled" data-bind="attr: { name: $parent.Id }, value: Id"/> <span data-bind="html: markdownText"></span>                
                <!-- /ko -->
            </span>        
        </div>
    </div>
</script>

