﻿@model BinaryMash.Web.Mvc4.Models.Session.CreateEdit
@{
    ViewBag.Title = "Edit session";
}

@section header{
    @{ Html.RenderPartial("~/Views/Shared/Headers/CreateEdit.cshtml"); }
}

@section pageViewModel
{
    'viewModel/Session/createEdit'
}

@section subHeader{
    <div data-bind="template: { if: (session() && !loadingData()), name: 'subHeader-template' }"></div>
}

<input type="hidden" id="id" value="@Model.Id"/>
<input type="hidden" id="testId" value="@Model.TestId"/>
<input type="hidden" id="testVersionVersion" value="@Model.TestVersion"/>
<input type="hidden" id="personId" value="@Model.PersonId"/>
@Html.AntiForgeryToken()

<!-- ko if: session -->
<input type="hidden" id="modelId" data-bind="value: session().Id"/>
<!-- /ko -->

<div class="container">
    @Html.Spinner("visible: loadingData")
    <div data-bind="if: session() && !loadingData()"><div data-bind="    template: { name: 'form-template' }"></div></div>
    <div data-bind="if: !session() && !loadingData()"><div data-bind="    template: { name: 'notfound-template' }"></div></div>
    <div data-bind="template: { name: 'asyncTracker-template', data: asyncTracker }"></div>
</div>

@* --- Knockout templates --- *@

<script type="text/html" id="subHeader-template">
    <div class="subHeader">
    <div class="container">
        <!-- ko if: session().Id() !== '00000000-0000-0000-0000-000000000000' -->
        <div id="summary" >
            <h1>Edit Session</h1>                
        </div>
        <!-- /ko -->

        <!-- ko if: session().Id() === '00000000-0000-0000-0000-000000000000' -->
        <div id="summary">
            <h1>Create Session</h1>                
        </div>
        <!-- /ko -->
    </div>
    </div>
</script>

@*Form*@
<script type="text/html" id="form-template">
    <input id="sessionId" type="hidden" data-bind="value: session().Id()"/>
    <form class="form-horizontal form-search" id ="sessionForm" autocomplete="off">
        <section data-bind="template: { name: 'session-template', data: session }"></section>
    </form>
</script>

@* Session *@
<script type="text/html" id="session-template">
    <div class="form-group test" data-bind="template: { name: 'test-template' }"></div>
    <div class="form-group testVersion" data-bind="template: { name: 'testVersion-template' }"></div>
    <div class="form-group candidate" data-bind="template: { name: 'person-template' }"></div>
</script>

@*Test*@
<script type="text/html" id="test-template">
    <label class="control-label col-sm-2">Test</label>
    <div class="col-sm-10 form-control-static" >
        <!-- ko if: TestVersion() -->
        <span data-bind="text: TestVersion().Name"></span> 
        <button type="button" class="btn btn-link btn-xs" data-bind="if: !testSearch().isActive(), click: testSearch().activate">Change</button>
        <!-- /ko -->
        <!-- ko if: !TestVersion() -->
        <button type="button" class="btn btn-link btn-xs" data-bind="click: testSearch().activate">Select test</button>
        <!-- /ko -->
        <div data-bind="if: hasTestIdErrors">
            <span class="text-danger field-validation-error" data-bind="text: TestIdErrors"></span>
        </div>
        <!-- ko if: testSearch().isActive() -->
        <div data-bind="template: { name: 'testSearch-template', data: testSearch }"></div>
    <!-- /ko -->
    </div>
</script>

@*TestSearch*@
<script type="text/html" id="testSearch-template">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            Select test
            <button type="button" class="btn btn-xs btn-link pull-right" data-bind="click: disable">Close</button>
        </div>
        <div class="panel-body">
            <input type="search" class="search-query" placeholder="Filter by name" data-bind="value: nameFilter"/>
            <button type="button" class="btn btn-xs btn-link" data-bind="click: filter">Apply filter</button> 
            <!-- ko if: filterApplied -->
            <button type="button" class="btn btn-xs btn-link" data-bind="click: resetFilter">Remove filter</button>        
            <!-- /ko -->    
            <hr/>
            <!-- ko if: pager.lastPageID() > 1 -->   
            <ul class="pagination pagination-sm">
                <li class="pf" data-bind="css: { disabled: pager.currentPageID() == 1 }"><a href="#" data-bind="click: pager.first">First</a></li>
                <li class="pp" data-bind="css: { disabled: pager.currentPageID() == 1 }"><a href="#" data-bind="click: pager.previous">Previous</a></li>        
                <!-- ko foreach: pager.pages  -->
                <li data-bind="css: { active: $parent.pager.currentPageID() == $data }"><a href="#" data-bind="text: $data, click: $parent.pager.pageSelected"></a></li>
                <!-- /ko -->
                <li class="pn" data-bind="css: { disabled: pager.currentPageID() == pager.lastPageID()}"><a href="#" data-bind="click: pager.next">Next</a></li>
                <li class="pl" data-bind="css: { disabled: pager.currentPageID() == pager.lastPageID() }"><a href="#" data-bind="click: pager.last">Last</a></li>        
            </ul>
            <hr/>
            <!-- /ko -->
            <div data-bind="foreach: items()">
                <div class="row link" data-bind="click: $root.session().testSelected">
                    <div class="col-sm-8">
                        <span data-bind="text: Name"></span>
                    </div>
                    <div class="col-sm-4"><small>Updated <span data-bind="text: Updated"></span></small></div>
                </div>
                <hr />
            </div>
            <!-- ko if: pager.itemCount() == 0 && !refreshing() -->
            No tests found. 
            <!-- /ko -->
            @Html.Spinner("visible: refreshing")
        </div>    
    </div>
</script>

@*TestVersion*@
<script type="text/html" id="testVersion-template">
    <label class="control-label col-sm-2">Version</label>
    <div class="col-sm-4 col-md-3 col-lg-2" >
        <select class="form-control" data-bind="options: versions, optionsValue: 'Version', optionsText: 'Version', value: TestVersionVersion, optionsCaption: 'Choose...'"></select> 
        <div data-bind="if: hasTestVersionVersionErrors">
            <span class="text-danger field-validation-error" data-bind="text: TestVersionVersionErrors"></span>
        </div>
    </div>    
</script>

@*Person*@
<script type="text/html" id="person-template">
    <label class="control-label col-sm-2">Candidate</label>
    <div class="col-sm-10 form-control-static" >    
        <!-- ko if: Person() -->
        <span data-bind="text: Person().Name"></span> 
        <button type="button" class="btn btn-link btn-xs" data-bind="if: !personSearch().isActive(), click: personSearch().activate">Change</button>
        <!-- /ko -->
        <!-- ko if: !Person() -->
        <button type="button" class="btn btn-link btn-xs" data-bind="click: personSearch().activate">Select candidate</button>
        <!-- /ko -->
        <div data-bind="if: hasPersonIdErrors">
            <span class="text-danger field-validation-error" data-bind="text: PersonIdErrors"></span>
        </div>
        <!-- ko if: personSearch().isActive() -->
        <div data-bind="template: { name: 'personSearch-template', data: personSearch }"></div>
        <!-- /ko -->
    </div>
</script>

@*PersonSearch*@
<script type="text/html" id="personSearch-template">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            Select candidate
            <button type="button" class="btn btn-xs btn-link pull-right" data-bind="click: disable">Close</button>
        </div>
        <div class="panel-body">
            <input type="search" class="search-query" placeholder="Filter by name" data-bind="value: nameFilter"/>
            <button type="button" class="btn btn-xs btn-link" data-bind="click: filter">Apply filter</button> 
            <!-- ko if: filterApplied -->
            <button type="button" class="btn btn-xs btn-link" data-bind="click: resetFilter">Remove filter</button>        
            <!-- /ko -->    
            <hr/>
            <!-- ko if: pager.lastPageID() > 1 -->   
            <ul class="pagination pagination-sm">
                <li class="pf" data-bind="css: { disabled: pager.currentPageID() == 1 }"><a href="#" data-bind="click: pager.first">First</a></li>
                <li class="pp" data-bind="css: { disabled: pager.currentPageID() == 1 }"><a href="#" data-bind="click: pager.previous">Previous</a></li>        
                <!-- ko foreach: pager.pages  -->
                <li data-bind="css: { active: $parent.pager.currentPageID() == $data }"><a href="#" data-bind="text: $data, click: $parent.pager.pageSelected"></a></li>
                <!-- /ko -->
                <li class="pn" data-bind="css: { disabled: pager.currentPageID() == pager.lastPageID() }"><a href="#" data-bind="click: pager.next">Next</a></li>
                <li class="pl" data-bind="css: { disabled: pager.currentPageID() == pager.lastPageID() }"><a href="#" data-bind="click: pager.last">Last</a></li>        
            </ul>
            <!-- /ko -->
            <div data-bind="foreach: items()">
                <div class="row link" data-bind="click: $root.session().personSelected">
                    <div class="col-sm-8">
                        <span data-bind="text: Name"></span>
                    </div>
                    <div class="col-sm-4"><small>Updated <span data-bind="text: Updated"></span></small></div>
                </div>  
                <hr />
            </div>
            <!-- ko if: pager.itemCount() == 0 && !refreshing() -->
            No people found. 
            <!-- /ko -->
            @Html.Spinner("visible: refreshing")
        </div>
    </div>
</script>

@* no data*@
<script type="text/html" id="notfound-template">
    <div class="row">
        <div class="col-xs-12">
            <div id="summary"><h2>Sorry, we could not find this session.</h2></div>
        </div>
    </div>
</script>

@{ Html.RenderPartial("~/Views/Shared/KoTemplates/AsyncTracker.cshtml"); }
