﻿@using BinaryMash.Web.Mvc4.Components
@model ICollection<BinaryMash.Domain.Session>
@{
    ViewBag.Title = "Sessions"; 
}

@section header{
    @{ Html.RenderPartial("~/Views/Shared/Headers/User.cshtml"); }
}

@section subHeader{
    <div class="mainNav">
        <div class="container">
            @Html.ActionLink("Add a new session", "Create", "Session", null, new {@class = "btn btn-primary"})
        </div>
    </div>
    <div class="subHeader">
        <div class="container">
            <h1>Test Sessions</h1>
        </div>
    </div>
}

<div class="container">
    @if (ViewBag.Pager.NumberOfItems == 0)
    {
        <div class="row">        
            <div id="summary" class="col-xs-12">
                <h2>There are <span id="quantity">no</span> sessions</h2>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div id="summary" class="col-xs-12">
                <h2>There are <span id="quantity">@ViewBag.Pager.NumberOfItems</span> sessions</h2>
            </div>
        </div>
    <div class="row">
        <div class="col-xs-12">
            <hr/>            
            @{ Html.RenderPartial("~/Views/Shared/Pager.cshtml", (Pager) @ViewBag.Pager); }
        </div>
    </div>
    foreach (var session in @Model.OrderByDescending(s => s.Id))
    {
        <div class="row">
            <div class="col-xs-12">
                @{ Html.RenderPartial("~/Views/Shared/Components/SessionSummary.cshtml", session); }
            </div>
        </div>
    }
    <div class="row">
        <div class="col-xs-12">
            @{ Html.RenderPartial("~/Views/Shared/Pager.cshtml", (Pager) @ViewBag.Pager); }
        </div>
    </div>
}
</div>