﻿@model Guid
@{
    ViewBag.Title = "Test Session Summary";
}

@section pageViewModel
{
    'viewModel/Session/summary'
}

@section header{
    @{ Html.RenderPartial("~/Views/Shared/Headers/User.cshtml"); }
}

@section subHeader{
    <div data-bind="template: { if: session, name: 'mainNav-template', data: session }"></div>
    <div class="subHeader">
        <div class="container">
            <h1>Test Session Summary</h1>
        </div>
    </div>
}

<input type="hidden" id="Id" value="@Model"/>

<div class="container">
    @Html.Spinner("visible: initialising")
    <div data-bind="if: session()"><div data-bind="template: { name: 'session-template', data: session}"></div></div>
    <div data-bind="if: !session()"><div data-bind="template: { name: 'notfound-template' }"></div></div>
    <div data-bind="template: { name: 'asyncTracker-template', data: asyncTracker }"></div>
</div>

@* --- Knockout templates --- *@

<script type="text/html" id="mainNav-template">
    <div class="mainNav">
        <div class="container">
            <a href="/Session/Edit/@Model" class="btn btn-primary" data-bind="visible: canEditDetails">Edit details</a>
            <a href="#takeNowModal" data-toggle="modal" class="btn btn-primary" data-bind="visible: canContinueTest">Continue test now on this device</a>
            <a href="#takeNowModal" data-toggle="modal" class="btn btn-primary" data-bind="visible: canTakeTestNow">Take test now on this device</a>
            <a href="/Session/Answers/@Model" class="btn btn-primary" data-bind="visible: canViewAnswers">View the candidate's answers</a>    
        </div>
    </div>    
</script>

@* Session *@
<script type="text/html" id="session-template">
    <div class="row">
        <div class="col-lg-12">                                            
            <h2>
                Details
                <a href="/Session/Edit/@Model" class="btn btn-default btn-xs" data-bind="visible: canEditDetails">Edit details</a>
            </h2>
            <p>The test is <a data-bind="text: TestVersion().Name, attr: { href: testUrl }"></a> (version <span data-bind="text: TestVersionVersion"></span>)</p>
            <p>The candidate is <a data-bind="text: Person().Name, attr:{href:personUrl}"></a></p>
            <hr/>
            <h2>
                Status
                <a href="#takeNowModal" data-toggle="modal" class="btn btn-default btn-xs" data-bind="visible: canContinueTest">Continue test now on this device</a>
                <a href="#takeNowModal" data-toggle="modal" class="btn btn-default btn-xs" data-bind="visible: canTakeTestNow">Take test now on this device</a>
                <a href="/Session/Answers/@Model" class="btn btn-default btn-xs" data-bind="visible: canViewAnswers">View the candidate's answers</a>
            </h2>
            <p>The test is <span data-bind="text: State"></span> </p>
        </div>
    </div>
</script>

@* no data*@
<script type="text/html" id="notfound-template">
    <div class="row">
        <div class="col-lg-12">
            <div id="summary"><h2>Sorry, we could not find this session.</h2></div>
        </div>
    </div>
</script>

@{ Html.RenderPartial("~/Views/Shared/KoTemplates/AsyncTracker.cshtml"); }

<div id="takeNowModal" class="modal fade" tabindex="-1" >
    <div class="modal-dialog">
            @using (Html.BeginForm("TakeNow", "Session", new{id = @Model}, FormMethod.Post))
            {
                <input type="hidden" name="password" data-bind="value:session().Password()" />
                @Html.AntiForgeryToken()
                <div class="modal-content">
                    <div class="modal-header"><h3>Confirm test</h3></div>
                    <div class="modal-body">
                        <p>Your session will be logged out, and the candidate logged in. Do you want to continue?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No, don't take the test</button>      
                        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Yes, take the test</button>      
                    </div>
                </div>
            }
    </div>
</div>
