﻿@section header{
    @{ Html.RenderPartial("~/Views/Shared/Headers/User.cshtml"); }
}

@section subHeader{
    <div class="subHeader">
        <div class="container">
            <h1>Test Sessions</h1>
        </div>
    </div>
}

<div class="container">
    <div id="summary"><h2>Test sessions are only available to registered users</h2></div>
</div>