﻿@{
    ViewBag.Title = "Roles"; 
}

@section header{
    @{ Html.RenderPartial("~/Views/Shared/Headers/User.cshtml"); }
}

<div class="container">
@if (ViewBag.Pager.NumberOfItems == 0)
{
<div class="row">
    <div class="col-lg-12">
        <div id="summary"><h1>There are <span id="quantity">no</span> roles</h1></div>
    </div>
</div>
}
else
{
    <div class="row">
        <div class="col-lg-12">
            <div id="summary"><h1>There are <span id="quantity">@ViewBag.Pager.NumberOfItems</span> roles</h1></div>
        </div>
    </div>
}
</div>