﻿@section header{
    @{ Html.RenderPartial("~/Views/Shared/Headers/User.cshtml"); }
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div id="summary"><h1>Roles are only available to registered users</h1></div>
        </div>
    </div>
</div>