﻿<header>
    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header navbar-right pull-right">
                <button type="button" class="btn btn-primary btn-sm navbar-btn" data-bind="click: previousQ, css:{disabled:!allowPrevious()}"><span class="glyphicon glyphicon-chevron-left"></span> Previous</button>
                <button type="button" class="btn btn-primary btn-sm navbar-btn" data-bind="click: nextQ, css: { disabled: !allowNext() }">Next <span class="glyphicon glyphicon-chevron-right"></span></button>
                <button type="button" class="btn btn-success btn-sm navbar-btn" data-bind="click: done"><span class="glyphicon glyphicon-ok"></span> Done</button>
            </div>
        </div>
    </nav>
</header>    
