﻿<header>
    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header navbar-right pull-left">
                <button type="button" class="btn btn-warning btn-sm navbar-btn cancelBtn" data-bind="click: cancel, css:{disabled:disableBtns}"><span class="glyphicon glyphicon-remove"></span> Cancel</button>                        
            </div>
            <div class="navbar-header navbar-right pull-right">
                <button type="button" class="btn btn-success btn-sm navbar-btn doneBtn" data-bind="click: done, css: { disabled: disableBtns }"><span class="glyphicon glyphicon-ok"></span> Done</button>
            </div>
        </div>
    </nav>
</header>    
