﻿<header>
    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">   
                @Html.ActionLink("[Application image]", "Welcome", "Candidate", null, new{@class="navbar-brand"})
            </div>
        </div>
    </nav>
</header>
    