﻿<header>
    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">   
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("[Application image]", "Index", "Home", null, new{@class="navbar-brand"})
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Questions","Index","Question", null, new {@id = "questions"})</li>
                    <li>@Html.ActionLink("Tags","Index","Tag", null, new {@id="tags"})</li>
                    <li>@Html.ActionLink("Tests","Index","Test", null, new {@id="tests"})</li>
                    <li>@Html.ActionLink("People","Index","Person", null, new {@id="people"})</li>
                    <li>@Html.ActionLink("Sessions","Index","Session", null, new {@id="sessions"})</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a id="userSummary" href="~/User/Summary"><span class="glyphicon glyphicon-user"></span> My account</a></li>
                        <li><a id="logOut" href="~/Authentication/LogOut"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                    }
                    else
                    {
                        <li><a id="signUp" href="~/Account/Create"><span class="glyphicon glyphicon-pencil"></span> Sign up</a></li>
                        <li><a id="logIn" href="~/Authentication"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>                            
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
    