﻿@using BinaryMash.Web.Mvc4.Helpers
<footer>
    <div>
        <nav class="nav navbar navbar-default">        
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">        
                        <p class="appVersion"><small>© 2013 BinaryMash - Release @Html.AssemblyInformationalVersion()</small></p>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</footer>
