﻿@using System.Web.Optimization
@model int
@{
    ViewBag.Title = "Edit person";
}

@section pageViewModel
{
    'viewModel/Person/createEdit'
}

@section header{
    @{ Html.RenderPartial("~/Views/Shared/Headers/CreateEdit.cshtml"); }
}

@section subHeader{
    <div data-bind="template: { if: (person() && !loadingData()), name: 'subHeader-template' }"></div>
}

@section scripts_header
{
    <script src="~/scripts/select2.min.js"></script>    
    <link rel="stylesheet" href="~/Content/css/select2.css" />
}

@section pageViewModelParam
{
    @Json.Encode(Model)
}

<input type="hidden" id="id" value="@Model"/>
<!-- ko if: person -->
<input type="hidden" id="personId" data-bind="value: person().Id"/>
<!-- /ko -->
@Html.AntiForgeryToken()

<div class="container">
    @Html.Spinner("visible: loadingData")
    <div data-bind="if: person() && !loadingData()"><div data-bind="template: { name: 'form-template'}"></div></div>
    <div data-bind="if: !person() && !loadingData()"><div data-bind="template: { name: 'notfound-template' }"></div></div>
    <div data-bind="template: { name: 'asyncTracker-template', data: asyncTracker }"></div>
</div>

@* --- Knockout templates --- *@

<script type="text/html" id="subHeader-template">
    <div class="subHeader">
        <div class="container">
            <!-- ko if: person().Id() > 0 -->
            <div id="summary" >
                <h1>Edit Person</h1>                
            </div>
            <!-- /ko -->

            <!-- ko if: person().Id() < 0 -->
            <div id="summary">
                <h1>Create A New Person</h1>                
            </div>
            <!-- /ko -->
        </div>
    </div>
</script>

@*Form*@
<script type="text/html" id="form-template">
    <form class="form-horizontal" id ="personForm" autocomplete="off" novalidate>
        <section data-bind="template: { name: 'person-template', data: person }"></section>
    </form>
</script>

@* Person *@
<script type="text/html" id="person-template">
    <div class="form-group">
        <label class="control-label col-sm-2" for="Name">Name</label>
        <div class="col-sm-10">
            <input id="Name" name="Name" type="text" class="form-control" data-bind="value: Name" />
            <div data-bind="if: hasNameErrors">
                <span class="text-danger field-validation-error" data-bind="text: NameErrors"></span>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-6">
            <section title="Contact details">
                <div data-bind="template: { name: 'emailChannel-template', foreach: CommunicationChannels() }"></div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="button" class="btn btn-link flush-left" data-bind="click: addEmail"><small>Add email</small></button>
                    </div>
                </div>
                <div data-bind="template: { name: 'phoneChannel-template', foreach: CommunicationChannels() }"></div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="button" class="btn btn-link flush-left" data-bind="click: addPhone"><small>Add phone</small></button>    
                    </div>
                </div>
                <div data-bind="template: { name: 'addressChannel-template', foreach: CommunicationChannels() }"></div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="button" class="btn btn-link flush-left" data-bind="click: addAddress"><small>Add address</small></button>
                    </div>
                </div>
            </section>
            <div data-bind="if: hasCommunicationChannelsErrors">
                <span class="text-danger field-validation-error" data-bind="text: CommunicationChannelsErrors "></span>
            </div>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
            <div class="form-group notes">
                <div class="col-xs-12">
                    <textarea class="form-control" rows="10" placeholder="Add some notes" id="Notes" data-bind="value: Notes"/>
                    <div data-bind="if: hasNotesErrors">
                        <span class="text-danger field-validation-error" data-bind="text: NotesErrors"></span>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</script>

@* EmailChannel section *@
<script type="text/html" id="emailChannel-template">
    <!-- ko if: variant === 1 -->
    <div class="form-group emailChannel">
        <div class="col-xs-4">
            <input class="select2-container-label f-type s2" type="hidden" data-bind="value: typeSelection, select2: { data: { results: allTypes() }, placeholder: 'Select or type...', createSearchChoice: createChoice }" />
            <div data-bind="if: hasTypeErrors">
                <span class="text-danger field-validation-error" data-bind="text: TypeErrors"></span>
            </div>
        </div>
        <div class="col-xs-7">
            <input type="email" class="input-sm form-control f-value" data-bind="value: Value" />
            <div data-bind="if: hasValueErrors">
                <span class="text-danger field-validation-error" data-bind="text: ValueErrors"></span>
            </div>
        </div>
        <div class="col-xs-1">
            <button type="button" class="btn btn-link btn-sm flush-left" data-bind="click: remove"><span class="glyphicon glyphicon-trash"></span></button>
        </div>
    </div>
    <!-- /ko -->
</script>

@* PhoneChannel section *@
<script type="text/html" id="phoneChannel-template">
    <!-- ko if: variant === 2 -->    
    <div class="form-group phoneChannel">
        <div class="col-xs-4">
            <input class="select2-container-label f-type s2" type="hidden" data-bind="value: typeSelection, select2: { data: { results: allTypes() }, placeholder: 'Select or type...', createSearchChoice: createChoice }"/>
            <div data-bind="if: hasTypeErrors">
                <span class="text-danger field-validation-error" data-bind="text: TypeErrors"></span>
            </div>
        </div>
        <div class="col-xs-7">
            <input type="tel" class="input-sm form-control f-value" data-bind="hasFocus: isSelected, value: Value"/>
            <div data-bind="if: hasValueErrors">
                <span class="text-danger field-validation-error" data-bind="text: ValueErrors"></span>
            </div>
        </div>
        <div class="col-xs-1">
            <button type="button" class="btn btn-link btn-sm flush-left" data-bind="click: remove"><span class="glyphicon glyphicon-trash"></span></button>
        </div>
    </div>
    <!-- /ko -->
</script>

@* AddressChannel section *@
<script type="text/html" id="addressChannel-template">
    <!-- ko if: variant === 3 -->    
    <div class="form-group addressChannel">
        <div class="col-xs-4">
            <input class="select2-container-label f-type s2" type="hidden" data-bind="value: typeSelection, select2: { data: { results: allTypes() }, placeholder: 'Select or type...', createSearchChoice: createChoice }"/>
            <div data-bind="if: hasTypeErrors">
                <span class="text-danger field-validation-error" data-bind="text: TypeErrors"></span>
            </div>
        </div>
        <div class="col-xs-7">
            <input type="text" class="input-sm form-control f-value" data-bind="hasFocus: isSelected, value: Value"/>
            <div data-bind="if: hasValueErrors">
                <span class="text-danger field-validation-error" data-bind="text: ValueErrors"></span>
            </div>
        </div>
        <div class="col-xs-1">
            <button type="button" class="btn btn-link btn-sm flush-left" data-bind="click: remove"><span class="glyphicon glyphicon-trash"></span></button>
        </div>
    </div>
    <!-- /ko -->
</script>

@{ Html.RenderPartial("~/Views/Shared/KoTemplates/AsyncTracker.cshtml"); }

@* no data*@
<script type="text/html" id="notfound-template">
    <div class="row">
        <div class="col-lg-12">
            <div id="summary"><h2>Sorry, we could not find this person.</h2></div>
        </div>
    </div>
</script>
