﻿@using BinaryMash.Web.Mvc4.Components
@model ICollection<BinaryMash.Domain.Person>
@{
    ViewBag.Title = "People"; 
}

@section header{
    @{ Html.RenderPartial("~/Views/Shared/Headers/User.cshtml"); }
}

@section subHeader{
    <div class="mainNav">
        <div class="container">
            @Html.ActionLink("Add a new person", "Create", "Person", null, new{@class="btn btn-primary"})
        </div>
    </div>
    <div class="subHeader">
        <div class="container">
            <h1>People</h1>
        </div>
    </div>
}

<div class="container">
@if (ViewBag.Pager.NumberOfItems == 0)
{
    <div class="row">
        <div id="summary" class="col-xs-12">
            <h2>There are <span id="quantity">no</span> people</h2>
        </div>
    </div>
}
else
{
    <div class="row">
        <div id="summary" class="col-xs-12">
            <h2>There are <span id="quantity">@ViewBag.Pager.NumberOfItems</span> people</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            @{ Html.RenderPartial("~/Views/Shared/Pager.cshtml", (Pager) @ViewBag.Pager); }
            <hr/>
        </div>
    </div>
    foreach (var person in @Model.OrderBy(p => p.Name))
    {
        <div class="row">
            <div class="col-xs-12">
                @{ Html.RenderPartial("~/Views/Shared/Components/PersonSummary.cshtml", person); }
            </div>
        </div>
    }
    <div class="row">
        <div class="col-xs-12">
            @{ Html.RenderPartial("~/Views/Shared/Pager.cshtml", (Pager) @ViewBag.Pager); }
        </div>
    </div>
}
</div>