﻿@using System.Web.Optimization
@model int
@{
    ViewBag.Title = "Person Summary";
}

@section pageViewModel
{
    'viewModel/Person/summary'
}

@section header{
    @{ Html.RenderPartial("~/Views/Shared/Headers/User.cshtml"); }
}

@section subHeader{
    <div data-bind="template: { if: person, name: 'mainNav-template', data: person }"></div>
    <div class="subHeader">
        <div class="container">
            <h1>Person Summary</h1>
        </div>
    </div>
}

<input type="hidden" value="@Model" id="id"/>

<div class="container">
    @Html.Spinner("visible: initialising")
    <div data-bind="if: person()"><div data-bind="template: { name: 'person-template', data: person}"></div></div>
    <div data-bind="if: !person()"><div data-bind="template: { name: 'notFound-template' }"></div></div>
    <div data-bind="template: { name: 'asyncTracker-template', data: asyncTracker }"></div>
</div>

@* --- Knockout templates --- *@

<script type="text/html" id="mainNav-template">
    <div class="mainNav">
        <div class="container">
            <a href="/Person/Edit/@Model" class="btn btn-primary">Edit details</a>
            <a href="/Session/Create?person=@Model" class="btn btn-primary">Arrange a test</a>
        </div>
    </div>    
</script>

@* Person *@
<script type="text/html" id="person-template">
    <div class="row">
        <div class="col-xs-12">
            <h2>Details <a href="/Person/Edit/@Model" class="btn btn-default btn-xs">Edit details</a></h2>
            <h4 class="f-name" data-bind="text: Name"></h4>
            <hr/>
            <h2>Test sessions <a href="/Session/Create?person=@Model" class="btn btn-default btn-xs">Arrange a test</a></h2>
            <div data-bind="template: { name: 'noData-template' }"></div>
        </div>
    </div>
</script>


@* no data*@
<script type="text/html" id="notFound-template">
    <div class="row">
        <div class="col-xs-12">
            <div id="summary"><h2>Sorry, we could not find this person.</h2></div>
        </div>
    </div>
</script>

@{ Html.RenderPartial("~/Views/Shared/KoTemplates/NoData.cshtml"); }

@{ Html.RenderPartial("~/Views/Shared/KoTemplates/AsyncTracker.cshtml"); }