﻿@{
    ViewBag.Title = "Questions"; 
}

@section header{
    @{ Html.RenderPartial("~/Views/Shared/Headers/User.cshtml"); }
}

@section subHeader{
    <div class="subHeader">
        <div class="container">
            <h1>About Questions</h1>            
        </div>
    </div>
}

<div class="container">
    <p>To be added...</p>
</div>