﻿@using System.Web.Optimization
@model int
@{
    ViewBag.Title = "Create a new question";
}

@section pageViewModel
{
    'viewModel/question/createEdit'
}

@section header
{
    @{ Html.RenderPartial("~/Views/Shared/Headers/CreateEdit.cshtml"); }
}

@section subHeader{
    <div data-bind="template: { if: (question() && !loadingData()), name: 'subHeader-template' }"></div>
}

@section scripts_header
{
    @Scripts.Render("~/bundles/jqueryval")
}

@section scripts_footer
{
    @*PageDown*@
    <script type="text/javascript" src="~/Scripts/Pagedown/Markdown.Converter.js"></script>
    <script type="text/javascript" src="~/Scripts/Pagedown/Markdown.Sanitizer.js"></script>
    <script type="text/javascript" src="~/Scripts/Pagedown/Markdown.Editor.js"></script>
}

<input type="hidden" id="id" value="@Model" />
<!--  ko if: question -->
<input type="hidden" id="questionId" data-bind="value: question().QuestionId"/>
<!-- /ko -->
@Html.AntiForgeryToken()

<div class="container">
    @Html.Spinner("visible: loadingData")
    <div data-bind="if: question() && !loadingData()"><div data-bind="template: { name: 'form-template' }"></div></div>
    <div data-bind="if: !question() && !loadingData()"><div data-bind="template: { name: 'notfound-template' }"></div></div>
    <div data-bind="template: { name: 'asyncTracker-template', data: asyncTracker }"></div>
</div>

@* --- Knockout templates --- *@

<script type="text/html" id="subHeader-template">
    <div class="subHeader">
        <div class="container">
            <!-- ko if: question().QuestionId() > 0 -->
            <div id="summary" >
                <h2>Edit Question</h2>                
            </div>
            <!-- /ko -->
            <!-- ko if: question().QuestionId() < 0 -->
            <div id="summary">
                <h2>Create A New Question</h2>                
            </div>
            <!-- /ko -->
        </div>
    </div>
</script>

@*Form*@
<script type="text/html" id="form-template">
    @using (Html.BeginForm(@Model == 0 ? "Create" : "Edit", "Question", FormMethod.Post, new {@class = "form-horizontal", id = "questionForm", autocomplete = "off"}))
    {
        <section data-bind="template: { name: 'question-template', data: question }"></section>        
    }
</script>

@* Question *@
<script type="text/html" id="question-template">
    <div class="row">
        <div class="col-xs-12">                                            
            <div class="form-group">
                <label class="col-sm-2 control-label" for="Title">Title</label>
                <div class="col-sm-10">
                    <input id="Title" name="Title" type="text" class="form-control" data-bind="value: Title" />
                    <div data-bind="if: hasTitleErrors">
                        <span class="text-danger field-validation-error" data-bind="text: TitleErrors"></span>
                    </div>
                </div>
            </div>
            <hr/>
            <section title="Body" data-bind="template: { name: 'section-template', foreach: Sections().sort(function (l, r) { return l.Index() > r.Index() ? 1 : -1; }), afterRender: initPageDownSection }"></section>
            <div data-bind="if: hasSectionsErrors">
                <span class="text-danger field-validation-error" data-bind="text: SectionsErrors "></span>
            </div>
            @*            <div class="control-group">
                <label class="control-label" for="Title">Tags</label>
                <div class="controls">
                    <section data-bind="template: { name: 'tag-template', foreach: Tags}"></section>
                </div>
            </div>*@
            <!-- ko if: Sections().length === 0 -->
            <hr/>
            <!-- /ko -->
            <button data-bind="click: addSection" class="btn btn-link">Add a section to the question</button>
            <hr />
        </div>
    </div>
</script>

@* QuestionAndAnswerSection *@
<script type="text/html" id="section-template">
    <section class="qandasection">
        <!-- ko if:$parent.Sections().length > 1 -->
        <div class="form-group">
            <label class="control-label col-sm-2">Section <span data-bind="text: number"></span></label>
            <div class="col-sm-10">
                <button data-bind="click: $parent.removeSection" class="btn btn-link">Remove this section</button>
                <button data-bind="click: $parent.moveSectionFirst" class="btn btn-link">Move to first</button>
                <button data-bind="click: $parent.moveSectionUp" class="btn btn-link">Move up</button>
                <button data-bind="click: $parent.moveSectionDown" class="btn btn-link">Move down</button>
                <button data-bind="click: $parent.moveSectionLast" class="btn btn-link">Move to last</button>
            </div>
        </div>
        <!-- /ko -->
        <div class="form-group sectionText">
            <label class="control-label col-sm-2">Text</label>
            <div class="col-sm-10">
                <div class="wmd-panel">
                    <div data-bind="attr:{id: pageDown().buttonBarId}"></div>
                    <textarea data-bind="attr: {id: pageDown().inputId}, value: Text" class="form-control wmd-input" cols="50" rows="10"></textarea>
                </div>
                <div class="preview">
                    <button type="button" class="btn btn-link flush-left" data-bind="click: pageDown().togglePreview, text: pageDown().previewLink"></button>
                    <div data-bind="visible: pageDown().preview, attr: { id: pageDown().previewId }" class="wmd-panel wmd-preview"></div> 
                </div>
                <div data-bind="if: hasTextErrors">
                    <span class="text-danger field-validation-error" data-bind="text: TextErrors "></span>
                </div>
            </div>
        </div>                              
        <div class="form-group sectionNotes">
            <label class="control-label col-sm-2">Notes</label>
            <div class="col-sm-10">
                <textarea class="form-control" cols="50" rows="3" data-bind="value: Notes"></textarea>
                <div data-bind="if: hasNotesErrors">
                    <span class="text-danger field-validation-error" data-bind="text: NotesErrors "></span>
                </div>
            </div>
        </div>                         
        <hr/>
        <div class="form-group answerType">
            <label class="control-label col-sm-2">Answer Type</label>
            <div class="col-sm-10">
                <select class="form-control" data-bind="options: $root.answerTypes, optionsValue: 'id', optionsText: 'description', value: Type, optionsCaption: 'Choose...'"></select> 
                <div data-bind="if: hasTypeErrors">
                    <span class="text-danger field-validation-error" data-bind="text: TypeErrors "></span>
                </div>
            </div>
            <hr/>
        </div>
        <div class="answerContainer" data-bind="title: $root.answerTypeSectionTitle, template: { if: activeSpecialismTemplate(), name: function () { return activeSpecialismTemplate(); } }"></div>
    </section>
    <hr/>
</script>


@* AnswerContainerUserSupplied *@
<script type="text/html" id="answerContainerSpecialismUserSupplied-template">
    <div data-bind="foreach: AnswerContents().sort(function (l, r) { return l.Index() > r.Index() ? 1 : -1; })">
        <div class="answerContent">
            <div class="form-group answerMaxLength">
                <label class="control-label col-sm-2">Maximum Length</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" data-bind="value: MaxLength"/>
                    <div data-bind="if: hasMaxLengthErrors">
                        <span class="text-danger field-validation-error" data-bind="text: MaxLengthErrors"></span>
                    </div>
                </div>
            </div>
            <div class="form-group answerNotes">
                <label class="control-label col-sm-2">Notes</label>
                <div class="col-sm-10">
                    <textarea class="form-control" cols="50" rows="3" data-bind="value: Notes" data-val="true" ></textarea>
                    <div data-bind="if: hasNotesErrors">
                        <span class="text-danger field-validation-error" data-bind="text: NotesErrors "></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

@* AnswerContainerRadio *@
<script type="text/html" id="answerContainerSpecialismRadio-template">
    <hr />
    <div data-bind="template: { name: 'answerContainerQuestionerSupplied-template', foreach: AnswerContents().sort(function (l, r) { return l.Index() > r.Index() ? 1 : -1; }), afterRender: initPageDownAnswer }"></div>
    <hr />
    <button data-bind="click: addAnswer" class="btn btn-link">Add an answer to this section</button>
</script>

@* AnswerContainerCheckbox *@
<script type="text/html" id="answerContainerSpecialismCheckbox-template">
    <hr />
    <div data-bind="template: { name: 'answerContainerQuestionerSupplied-template', foreach: AnswerContents().sort(function (l, r) { return l.Index() > r.Index() ? 1 : -1; }), afterRender: initPageDownAnswer }"></div>
    <hr />
    <button data-bind="click: addAnswer" class="btn btn-link">Add an answer to this section</button>
</script>

@* AnswerContainerQuestionerSupplied *@
<script type="text/html" id="answerContainerQuestionerSupplied-template">
    <div class="answerContent" data-bind="event: { mouseover: activate, mouseout: inactivate }, css: { active: isActive }">
        <div class="form-group">
            <label class="control-label col-sm-2">Answer <span data-bind="text: number"></span></label>
            <!-- ko if:$parent.AnswerContents().length > 1 -->
            <div class="col-sm-10">
                <button data-bind="click: $parent.removeAnswer" class="btn btn-link">Remove this answer</button>
                <button data-bind="click: $parent.moveAnswerFirst" class="btn btn-link">Move to first</button>
                <button data-bind="click: $parent.moveAnswerUp" class="btn btn-link">Move up</button>
                <button data-bind="click: $parent.moveAnswerDown" class="btn btn-link">Move down</button>
                <button data-bind="click: $parent.moveAnswerLast" class="btn btn-link">Move to last</button>
            </div>
            <!-- /ko -->
        </div>
        <div class="form-group answerText">
            <label class="control-label col-sm-2">Text</label>
            <div class="col-sm-10">
                <div class="wmd-panel">
                    <div data-bind="attr: { id: pageDown().buttonBarId }"></div>
                    <textarea data-bind="attr: { id: pageDown().inputId }, value: Text" class="form-control wmd-input" cols="50" rows="3"></textarea>
                </div>
                <div class="preview">
                    <button type="button" class="btn btn-link flush-left" data-bind="click: pageDown().togglePreview, text: pageDown().previewLink"></button>
                    <div data-bind="visible: pageDown().preview, attr: { id: pageDown().previewId }" class="wmd-panel wmd-preview"></div> 
                </div>
                <div data-bind="if: hasTextErrors">
                    <span class="text-danger field-validation-error" data-bind="text: TextErrors"></span>
                </div>
            </div>
        </div>
        <div class="form-group answerNotes">
            <label class="control-label col-sm-2">Notes</label>
            <div class="col-sm-10">
                <textarea class="form-control" cols="50" rows="3" data-bind="value: Notes" data-val="true" ></textarea>
                <div data-bind="if: hasNotesErrors">
                    <span class="text-danger field-validation-error" data-bind="text: NotesErrors"></span>
                </div>
            </div>
        </div>
    </div>
</script>

@* Tag section *@
<script type="text/html" id="tag-template">
    <div ></div>
</script>

@{ Html.RenderPartial("~/Views/Shared/KoTemplates/AsyncTracker.cshtml"); }

<div id="publishModal" class="modal fade" tabindex="-1" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><h3>Publish Question?</h3></div>
            <div class="modal-body">
                <p>All changes you made have been saved. However, they will not be available for use until you publish this version of the question.</p>                
                <p>Do you want to publish the question now?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" type="button" data-bind="click: cancel"><span class="glyphicon glyphicon-remove"></span> No</button>      
                <button class="btn btn-success" type="button" data-bind="click: publish"><span class="glyphicon glyphicon-ok"></span> Yes</button>      
            </div>
        </div>
    </div>
</div>

@* no data*@
<script type="text/html" id="notfound-template">
    <div class="row">
        <div class="col-lg-12">
            <div id="summary"><h2>Sorry, we could not find this question.</h2></div>
        </div>
    </div>
</script>