﻿@model BinaryMash.Domain.QuestionVersion
@{
    ViewBag.Title = "Create a new question";
}

@section header{
    @{ Html.RenderPartial("~/Views/Shared/Headers/User.cshtml"); }
}

@section subHeader{
    <div class="subHeader">
        <div class="container">
            <h1>Create A New Question</h1>
        </div>
    </div>
}

<div class="container">
    <div id="summary"><h2>Questions can only be created by registered users</h2></div>
</div>