﻿@{
    ViewBag.Title = "NotFound";
}

@section header{
    @{ Html.RenderPartial("~/Views/Shared/Headers/User.cshtml"); }
}

@section subHeader{
    <div class="subHeader">
        <div class="container">
            <h1>Question Preview</h1>
        </div>
    </div>
}

<div class="container">
    <h2 id="summary">Sorry, we couldn't find the question you were looking for.</h2>
</div>