﻿@using BinaryMash.Domain
@model BinaryMash.Web.Mvc4.Models.Question.Preview
@{
    ViewBag.Title = "Preview";
}

@section header{
    @{ Html.RenderPartial("~/Views/Shared/Headers/User.cshtml"); }
}

@section subHeader{
    @if (@Model.IsAuthenticated)
    {
        <div class="mainNav">
            <div class="container">
                @if (@Model.CanEdit())
                {
                    <a href="~/Question/Summary/@Model.QuestionVersion.QuestionId" class="btn btn-primary">See question summary</a>
                    if (@Model.QuestionVersion.State == QuestionVersionState.Draft)
                    {
                        <a href="~/Question/Edit/@Model.QuestionVersion.QuestionId" class="btn btn-primary">Edit the question</a>
                    }
                    if ((@Model.QuestionVersion.Version == @Model.QuestionVersion.Question.LatestVersion) &&
                        (@Model.QuestionVersion.State == QuestionVersionState.Published))
                    {
                        <a href="~/Question/Edit/@Model.QuestionVersion.QuestionId" class="btn btn-primary">Create a new version of the question</a>
                    }
                }
            </div>
        </div>
    }
    <div class="subHeader">
        <div class="container">
            <h1>Question Preview</h1>
        </div>
    </div>
}

@section scripts_header
{
    <link rel="stylesheet" href="~/Content/Prettify/prettify.css" />
}

@section pageViewModel
{
    'viewModel/question/preview'
}

@section scripts_footer
{
    <script src="~/Scripts/Prettify/prettify.js"></script>
}

<div class="container">
    @{ Html.RenderPartial("~/Views/Shared/Components/QuestionVersion.cshtml", @Model.QuestionVersion); }
</div>