﻿@model int
@{
    ViewBag.Title = "Question published";
}

@section header{
    @{ Html.RenderPartial("~/Views/Shared/Headers/User.cshtml"); }
}

@section subHeader{
    <div class="mainNav">
        <div class="container">
            <a href="/Question/Edit/@Model" class="btn btn-primary">Create a new version of the question</a>
        </div>
    </div>
    <div class="subHeader">
        <div class="container">
            <h1>Question Published</h1>
        </div>
    </div>
}

<input type="hidden" id="id" value="@Model"/>

<div class="container">    
    <h2 id="summary">The question has been published.</h2>
</div>

