﻿@using System.Web.Optimization
@model int
@{
    ViewBag.Title = "Question Summary"; 
}

@section pageViewModel
{
    'viewModel/question/summary'
}

@section header{
    @{ Html.RenderPartial("~/Views/Shared/Headers/User.cshtml"); }
}

@section subHeader{
    <div data-bind="template: { if: question, name: 'mainNav-template', data: question }"></div>
    <div class="subHeader">
        <div class="container">
            <h1>Question Summary</h1>
        </div>
    </div>
}

<input type="hidden" id="id" value="@Model" />

<div class="container">
    @Html.Spinner("visible: initialising")
    <div data-bind="if: question()"><div data-bind="template: { name: 'question-template', data: question }"></div></div>
    <div data-bind="if: !question()"><div data-bind="template: { name: 'notfound-template' }"></div></div>
    <div data-bind="template: { name: 'asyncTracker-template', data: asyncTracker }"></div>
</div>

@* --- Knockout templates --- *@

<script type="text/html" id="mainNav-template">
    <div class="mainNav">
        <div class="container">
            <a href="/Question/Preview/@Model" class="btn btn-primary">See preview of current version</a>
            <a href="/Question/Edit/@Model" class="btn btn-primary" data-bind="visible: canEdit">Edit the question</a>
            <a href="/Question/Edit/@Model" class="btn btn-primary" data-bind="visible: canCreateNewVersion">Create a new version of the question</a>
        </div>
    </div>    
</script>

@* Question *@
<script type="text/html" id="question-template">
    <div class="row">
        <div class="col-lg-12">
            <h2>
                Details
                <a href="/Question/Preview/@Model" class="btn btn-default btn-xs">See preview of current version</a>
                <a href="/Question/Edit/@Model" class="btn btn-default btn-xs" data-bind="visible: canEdit">Edit the question</a>
            </h2>
            <h4 class="f-title" data-bind="text: Title"></h4>
            <p data-bind="text: Sections()[0].Text">blah</p>
            <hr/>
            <h2>Tests that use this question</h2>
            <div data-bind="template: { name: 'noData-template' }"></div>
            <hr/>
            <h2>
                Version history
                <a href="/Question/Edit/@Model" class="btn btn-default btn-xs" data-bind="visible: canCreateNewVersion">Create a new version of the question</a>    
            </h2>
            <div data-bind="template: { name: 'noData-template' }"></div>
        </div>
    </div>
</script>

@* no data*@
<script type="text/html" id="notfound-template">
    <div class="row">
        <div class="col-lg-12">
            <div id="summary"><h2>Sorry, we could not find this question.</h2></div>
        </div>
    </div>
</script>

@{ Html.RenderPartial("~/Views/Shared/KoTemplates/AsyncTracker.cshtml"); }

@{ Html.RenderPartial("~/Views/Shared/KoTemplates/NoData.cshtml"); }
