﻿@using BinaryMash.Web.Mvc4.Components

@model ICollection<BinaryMash.Domain.QuestionVersion>
@{
    ViewBag.Title = "Questions tagged with "+ @ViewBag.Tag;
}

@section header{
    @{ Html.RenderPartial("~/Views/Shared/Headers/User.cshtml"); }
}

@section subHeader{
    <div class="mainNav">
        <div class="container">
            @Html.ActionLink("Write a new question", "Create", "Question", null, new{@class="btn btn-primary"})
        </div>
    </div>
    <div class="subHeader">
        <div class="container">
            <h1>Questions</h1>
        </div>
    </div>
}
<div class="container">
@if (ViewBag.Pager.NumberOfItems == 0)
{
    <div class="row">
        <div id="summary" class="col-lg-12">
            <h2>There are <span id="quantity">no</span> questions tagged with <span class="tagName">@ViewBag.Tag</span></h2>
        </div>
    </div>
}
else
{
    <div class="row">
        <div id="summary" class="col-lg-12">
            <h2>There are <span id="quantity">@ViewBag.Pager.NumberOfItems</span> questions tagged with <span class="tagName">@ViewBag.Tag</span></h2>
        </div>
    </div>    
    <div class="row">
        <div class="col-lg-12">
            <hr/>
            @{ Html.RenderPartial("~/Views/Shared/Pager.cshtml", (Pager) @ViewBag.Pager); }
        </div>
    </div>
    foreach (var question in @Model)
    {
    <div class="row">
        <div class="col-lg-12">
            @{ Html.RenderPartial("~/Views/Shared/Components/QuestionSummary.cshtml", question); }
        </div>
    </div>
    }
    <div class="row">
        <div class="col-lg-12">
            @{ Html.RenderPartial("../Shared/Pager", (Pager) @ViewBag.Pager); }
        </div>
    </div>
}
</div>